@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.ttf"); }

@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/Futura-Medium.ttf"); }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.ttf"); }

@font-face {
  font-family: 'Lucida Handwriting Italic';
  src: url("../fonts/Lucida Handwriting Italic.ttf"); }

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url("../fonts/FuturaPT-Demi.ttf"); }

ul {
  padding: 0; }

a {
  cursor: pointer; }

header {
  z-index: 100; }

#navigation, #navigation-addon {
  font-family: 'FuturaPT-Medium';
  margin-top: 25px; }
  #navigation a, #navigation-addon a {
    font-size: 20px;
    color: black; }
  #navigation ul, #navigation-addon ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    z-index: 2; }
    #navigation ul .hidden-items, #navigation-addon ul .hidden-items {
      display: none; }
    #navigation ul .visible-items, #navigation-addon ul .visible-items {
      display: inherit !important;
      position: absolute; }
    #navigation ul li a, #navigation-addon ul li a {
      text-decoration: none; }
    #navigation ul li:nth-child(2) ul, #navigation-addon ul li:nth-child(2) ul {
      flex-direction: column;
      padding: 0; }
    #navigation ul li:nth-child(5) ul, #navigation-addon ul li:nth-child(5) ul {
      flex-direction: column;
      padding: 0; }

#navigation-addon ul {
  justify-content: flex-end; }

#navigation-addon a {
  color: white; }

#navigation ul {
  justify-content: space-between; }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-text h1 {
    padding-top: 100px;
    font-size: 90px;
    font-family: 'Lucida Handwriting Italic';
    position: relative;
    right: 9px; }
  .main-text p {
    font-size: 36px;
    font-family: 'Futura Medium'; }

.main-girl {
  position: relative;
  background: url("../img/main_model_index.png") no-repeat 100% 0;
  background-size: 100%;
  width: 638px;
  height: 788px;
  max-height: 100%; }

.mod_upper {
  position: relative;
  top: -72px; }

.mod_flex {
  display: flex; }
