@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.ttf"); }

@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.ttf"); }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book2.ttf"); }

@font-face {
  font-family: 'LucidaHandwritingItalic';
  src: url("../fonts/LucidaHandwritingItalic.ttf"); }

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url("../fonts/FuturaPT-Demi.ttf"); }

ul {
  padding: 0; }

a {
  cursor: pointer; }

header {
  z-index: 100; }

body {
  overflow-x: hidden; }

.fixed {
  position: fixed; }

.ac-color {
  color: #b9a368; }

.ac-default {
  color: black; }

.ffLucida {
  font-family: 'LucidaHandwritingItalic'; }

.ffFuturaMedium {
  font-family: 'FuturaPT-Medium'; }

.ffFururaPTBook {
  font-family: 'FuturaPT-Book'; }

#navigation, #navigation-addon {
  font-family: 'FuturaPT-Medium';
  margin-top: 25px; }
  #navigation.navigation-portfolio, #navigation-addon.navigation-portfolio {
    position: inherit;
    top: inherit; }
    #navigation.navigation-portfolio ul, #navigation-addon.navigation-portfolio ul {
      flex-direction: row; }
    #navigation.navigation-portfolio .visible-items, #navigation-addon.navigation-portfolio .visible-items {
      position: absolute; }
  #navigation a, #navigation-addon a {
    font-size: 20px;
    color: black; }
  #navigation ul, #navigation-addon ul {
    display: flex;
    list-style-type: none;
    z-index: 2; }
    #navigation ul .hidden-items, #navigation-addon ul .hidden-items {
      display: none; }
    #navigation ul .visible-items, #navigation-addon ul .visible-items {
      display: inherit !important;
      position: absolute; }
    #navigation ul li a:hover, #navigation-addon ul li a:hover {
      border-bottom: 3px solid #b9a368;
      text-decoration: none; }
    #navigation ul li:nth-child(2) ul, #navigation-addon ul li:nth-child(2) ul {
      flex-direction: column;
      padding: 0; }
    #navigation ul li:nth-child(5) ul, #navigation-addon ul li:nth-child(5) ul {
      flex-direction: column;
      padding: 0; }

#navigation-addon.portfolio-menu a {
  color: black; }

#navigation-addon ul {
  justify-content: flex-end; }

#navigation-addon a {
  color: white; }

#navigation-addon img {
  position: relative;
  bottom: 1px; }

#navigation img {
  position: relative;
  bottom: 1px; }

#navigation ul {
  justify-content: space-around; }
  #navigation ul.visible-items {
    background-color: white; }

@media (max-width: 767px) {
  .row {
    flex-wrap: inherit; } }

@media (max-width: 1199px) {
  #navigation {
    position: absolute;
    top: 425px; }
    #navigation.navigation-portfolio .visible-items {
      display: none !important; }
    #navigation ul {
      flex-direction: column; }
      #navigation ul .visible-items {
        position: relative; }
    #navigation img {
      width: 6px;
      bottom: 2px; }
  #navigation-addon.portfolio-menu a {
    color: black; }
  #navigation-addon.portfolio-menu ul {
    justify-content: center; } }

footer {
  background-color: #262626;
  padding: 75px 0; }
  footer h1 {
    color: white;
    font-size: 73px;
    font-family: 'LucidaHandwritingItalic'; }
  footer p {
    color: #8e8e8e;
    font-size: 20px;
    font-family: 'FuturaPT-Book';
    line-height: 40px;
    margin-bottom: 0px; }
  footer .lower-items {
    padding-top: 35px; }
  footer nav {
    height: 31px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    footer nav a {
      color: white;
      font-size: 20px;
      text-decoration-color: #b9a368 !important;
      font-family: 'FuturaPT-Medium'; }
      footer nav a:hover {
        color: white;
        border-bottom: 3px solid #b9a368;
        text-decoration: none; }

@media (max-width: 1199px) {
  footer p:last-child {
    padding-right: 35px; }
  footer h1 {
    font-size: 54px; }
  footer nav {
    margin-top: 30px; }
  footer .lower-items {
    display: flex;
    justify-content: space-between; } }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-text h1 {
    padding-top: 100px;
    font-size: 89px;
    font-family: 'LucidaHandwritingItalic';
    position: relative;
    right: 9px; }
  .main-text p {
    font-size: 36px;
    font-family: 'FuturaPT-Medium'; }

.main-girl {
  width: 636px;
  position: relative; }

.mod_upper {
  position: relative;
  top: -72px; }

.mod_flex {
  display: flex; }

.mod_flex_clients {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-model {
  background: url(../img/main_model.JPG) no-repeat 100% 35%;
  background-size: cover;
  width: 110%;
  max-width: 682px;
  height: 780px; }

#about {
  margin-top: 3px; }
  #about .mod-font-1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0; }
  #about .mod-font-2 {
    font-size: 20px;
    margin-bottom: 25px;
    font-family: 'FuturaPT-Medium'; }
  #about .text-description {
    font-size: 27px;
    font-family: 'FuturaPT-Light';
    line-height: 31px; }

#education {
  margin-top: 85px; }
  #education .text-block-1 {
    margin: 65px 0 95px 0;
    font-size: 36px; }
    #education .text-block-1 p:first-child {
      margin-bottom: 0; }
    #education .text-block-1 .text-mod-1 {
      color: #b9a368;
      font-weight: 500; }
    #education .text-block-1 .text-mod-2, #education .text-block-1 .text-mod-3 {
      padding-left: 15px;
      font-family: 'LucidaHandwritingItalic'; }
    #education .text-block-1 .text-mod-3 {
      padding-left: 170px; }
  #education .education-block {
    background: url("../img/3.png") no-repeat center 280px;
    background-size: 100%;
    border: 4px solid #b9a368;
    font-family: 'FuturaPT-Medium'; }
    #education .education-block p:first-child {
      font-size: 20px;
      color: #b9a368;
      padding-top: 15px;
      margin-bottom: 8px; }
    #education .education-block p {
      padding-left: 10px; }
    #education .education-block .text-block-1 {
      margin-top: 0; }
    #education .education-block .text-mod-1 {
      font-size: 36px; }
    #education .education-block .text-mod-2 {
      font-size: 27px;
      font-family: 'FuturaPT-Book'; }
    #education .education-block .education-button {
      color: white;
      font-size: 20px;
      background-color: #b9a368;
      margin-left: 10px;
      padding: 10px 20px;
      border-radius: 7px;
      display: inline-block;
      text-decoration: none;
      z-index: 99;
      position: relative;
      top: 13px; }
    #education .education-block img {
      max-height: 350px;
      width: 100%; }

#studio .row {
  flex-wrap: nowrap; }

.bgimg-block {
  width: 100%;
  height: 350px; }

#clients .row {
  flex-wrap: wrap; }

#clients .mainly-text {
  color: #b9a368;
  font-weight: 500;
  font-size: 36px;
  margin: 65px 0 15px 0;
  font-family: 'FuturaPT-Medium'; }

#instagram {
  margin: 65px 0 35px 0; }
  #instagram .mainly-text {
    color: #b9a368;
    font-weight: 500;
    font-size: 36px;
    font-family: 'FuturaPT-Medium'; }
  #instagram .follow_inst-btn {
    color: white;
    background-color: #b9a368;
    border-radius: 7px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    text-decoration: none; }
  #instagram .lightwidget-block {
    margin-top: 23px; }

@media (max-width: 1199px) {
  #studio {
    overflow: hidden; }
  .main-text {
    padding-top: 250px;
    justify-content: inherit; }
    .main-text h1 {
      font-size: 56px;
      padding-top: 0; }
    .main-text p {
      font-size: 29px; }
  .main-model {
    background-position: 45% 0;
    width: 130%; }
  .mod_upper {
    top: -25px; }
  #about {
    margin-top: 50px; }
    #about .text-description {
      font-size: 22px;
      line-height: 26px; }
    #about .mod-font-1 {
      font-size: 29px;
      padding-bottom: 5px; }
    #about .mod-font-2 {
      font-size: 18px; }
  #education {
    margin-top: 75px; }
    #education .text-block-1 {
      margin: 0 0 75px 0; }
      #education .text-block-1 .text-mod-3 {
        padding-left: 122px; }
    #education .education-block {
      background-position: center 185px; }
    #education .text-mod-1 {
      font-family: 'FuturaPT-Medium';
      font-size: 29px;
      margin-bottom: 0; }
    #education .text-mod-2 {
      font-size: 29px;
      margin-bottom: 0; }
    #education .text-mod-3 {
      font-size: 29px; }
    #education .bgimg-block {
      height: 440px; }
  #instagram .mainly-text {
    font-size: 29px; }
  #clients .mainly-text {
    font-size: 29px; }
  .lower img:last-child {
    padding-right: 30px; } }

.text {
  font-size: 70px;
  font-family: 'LucidaHandwritingItalic';
  line-height: 90px; }

#about-works {
  margin-top: 65px; }
  #about-works img {
    padding-top: 15px; }
  #about-works .text-mod-1 {
    color: #b9a368;
    font-weight: 500;
    font-size: 36px; }
  #about-works .text-mod-2 {
    text-transform: uppercase;
    font-size: 27px;
    font-family: 'FuturaPT-Medium';
    line-height: 26px; }
  #about-works .second-block, #about-works .threed-block {
    padding-top: 21px; }
    #about-works .second-block li, #about-works .threed-block li {
      list-style-type: none; }
    #about-works .second-block ul, #about-works .threed-block ul {
      font-family: 'FuturaPT-Light';
      font-size: 27px;
      line-height: 30px; }
  #about-works .second-block ul {
    padding-top: 20px; }
  #about-works .threed-block ul {
    padding-top: 22px; }

.text-block {
  margin-top: 75px; }

.text-mod-1 {
  color: #b9a368;
  font-weight: 500;
  font-size: 36px; }

#design {
  margin-top: 65px; }
  #design .text-mod-1 {
    color: #b9a368;
    font-weight: 500;
    font-size: 36px; }
  #design .text-mod-2 {
    font-size: 27px;
    font-family: 'FuturaPT-Medium';
    line-height: 26px;
    padding-top: 20px; }
  #design .collection-1 {
    margin-top: 25px; }
    #design .collection-1 .item-hover {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #b9a368; }
      #design .collection-1 .item-hover .hover-text {
        position: absolute;
        font-size: 27px;
        color: white;
        display: none;
        font-family: 'FuturaPT-Medium'; }
      #design .collection-1 .item-hover:hover .hover-text {
        display: inherit; }
    #design .collection-1 img:hover {
      transition: .25s;
      opacity: 0.1; }

#lingerie-techonogist, #lingerie-techonogist_bliss, #lingerie-techonogist_wild_orchid, #lingerie-techonogist_man {
  margin-top: 65px; }
  #lingerie-techonogist .row, #lingerie-techonogist_bliss .row, #lingerie-techonogist_wild_orchid .row, #lingerie-techonogist_man .row {
    flex-wrap: wrap; }
  #lingerie-techonogist .collection-2, #lingerie-techonogist_bliss .collection-2, #lingerie-techonogist_wild_orchid .collection-2, #lingerie-techonogist_man .collection-2 {
    margin-top: 25px; }
    #lingerie-techonogist .collection-2 img, #lingerie-techonogist_bliss .collection-2 img, #lingerie-techonogist_wild_orchid .collection-2 img, #lingerie-techonogist_man .collection-2 img {
      margin: 12.5px 0; }

@media (max-width: 1199px) {
  .text {
    font-size: 55px;
    line-height: 60px; }
  .header-wrapper {
    display: flex;
    flex-direction: column; }
    .header-wrapper header {
      order: 2; }
  .text-block {
    margin-top: 15px; }
  #about-works {
    margin-top: 15px; }
    #about-works .text-mod-1 {
      font-size: 30px; }
    #about-works .second-block {
      font-size: 27px; }
  #design .row {
    flex-direction: column; }
  #design .text-mod-1 {
    font-size: 30px; }
  #design .text-mod-2 {
    font-size: 27px;
    font-family: 'FuturaPT-Medium';
    line-height: 26px;
    padding-top: 15px; }
  #design .collection-1 .row {
    flex-wrap: wrap;
    flex-direction: row; }
  .text-mod-1 {
    font-size: 30px; } }

.modal {
  position: fixed;
  left: 10000px;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: block;
  overflow-y: auto; }

.modal-wrapper {
  margin-top: 15px;
  position: relative; }

.modal-flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.close-modal {
  position: absolute;
  cursor: pointer; }
  .close-modal:hover {
    transform: rotate(180deg);
    transition: 0.5s; }

.modal-text {
  font-family: 'FuturaPT-Medium';
  font-size: 36px; }

.gallery {
  margin-top: 15px; }
  .gallery img {
    margin-bottom: 25px; }

@media (max-width: 1199px) {
  .bgitem {
    height: 354px; }
  .carousel {
    margin-top: 0; }
  .modal-wrapper .modal-text {
    font-size: 30px; } }

.brassier {
  overflow: hidden;
  position: absolute;
  width: 937px;
  /* max-width: 110%; */
  height: 801px;
  background: url("../img/brassier.jpg") no-repeat left bottom;
  bottom: -495px;
  /* background-size: 937px; */ }

.text-block.modified {
  margin-top: 55px; }

section.description {
  margin-top: 45px;
  position: relative;
  z-index: 99; }
  section.description .text-mod-2 {
    font-size: 27px;
    font-family: 'FuturaPT-Medium';
    line-height: 26px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase; }
  section.description p {
    font-size: 27px;
    font-family: 'FuturaPT-Light';
    line-height: 31px; }
    section.description p.modified {
      padding-top: 24px; }

.play-icon {
  padding-top: 24px;
  margin-bottom: 70px;
  z-index: 100;
  position: relative;
  opacity: 0.9; }

@media (max-width: 1199px) {
  .brassier720 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    z-index: 0;
    height: 342px;
    background: url("../img/brassier720.jpg") no-repeat 100% 100%;
    background-size: 100vw; }
  .brassier-wrapper {
    display: block;
    margin-top: 105px;
    position: relative;
    background-color: grey; }
  .text-block.modified {
    margin-top: 15px; } }

.contacts {
  margin: 65px 0 90px 0; }
  .contacts .text-mod-2 {
    padding: 40px 0 25px 0;
    font-family: 'FuturaPT-Medium';
    line-height: 26px;
    font-size: 27px; }
  .contacts p {
    margin-bottom: 24px;
    font-size: 27px;
    font-family: 'FuturaPT-Light';
    display: flex;
    align-items: center; }
    .contacts p img {
      padding-right: 10px; }
  .contacts .address {
    font-size: 27px;
    font-family: 'FuturaPT-Light'; }
  .contacts .callback-form {
    font-size: 30px;
    color: black;
    margin-top: 25px;
    display: flex;
    flex-direction: column; }
    .contacts .callback-form input {
      height: 35px;
      font-family: 'FuturaPT-Light';
      padding-left: 10px;
      margin-top: 25px;
      border: none;
      border-left: 2px solid #b9a368;
      outline: 0; }
      .contacts .callback-form input:first-child {
        margin-top: 0; }
      .contacts .callback-form input::-moz-placeholder {
        color: black; }
      .contacts .callback-form input::-webkit-input-placeholder {
        color: black; }
  .contacts textarea {
    line-height: 26px;
    font-family: 'FuturaPT-Light';
    outline: 0;
    padding-left: 10px;
    margin-top: 35px;
    border: none;
    border-left: 2px solid #b9a368; }
    .contacts textarea::-moz-placeholder {
      color: black; }
    .contacts textarea::-webkit-input-placeholder {
      color: black; }
    .contacts textarea::-o- {
      color: black; }
  .contacts button {
    margin-top: 23px;
    font-family: 'FuturaPT-Medium';
    font-size: 27px;
    padding: 3px 15px;
    width: 100px;
    background-color: #b9a368;
    outline: 0;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px; }

@media (max-width: 1199px) {
  .contacts {
    margin: 35px 0 90px 0; }
    .contacts .text-mod-2 {
      padding: 25px 0 25px 0; }
    .contacts form {
      display: flex;
      flex-direction: column; }
    .contacts .mod720 {
      margin-top: 60px; }
    .contacts button {
      width: 110px; }
    .contacts .row {
      flex-wrap: wrap; } }
