// @font-face{font-family: 'Futura'; src:url('../fonts/Futura medium.ttf');}
@font-face{font-family: 'FuturaPT-Medium'; src:url('../fonts/FuturaPT-Medium.ttf');}
@font-face{font-family: 'Futura-Medium'; src:url('../fonts/Futura-Medium.ttf');}
@font-face{font-family: 'FuturaPT-Book'; src:url('../fonts/FuturaPT-Book.ttf');}
@font-face{font-family: 'LucidaHandwritingItalic'; src:url('../fonts/LucidaHandwritingItalic.ttf');}
@font-face{font-family: 'FuturaPT-Demi'; src:url('../fonts/FuturaPT-Demi.ttf');}


ul {
	padding: 0;
}
a {
	cursor:pointer;
}
header {
	z-index:100;
}