#navigation,#navigation-addon {
	font-family: 'FuturaPT-Medium';
	margin-top: 25px;
	&.navigation-portfolio {
		position:inherit;
		top:inherit;
		ul {
			flex-direction: row;
		}
		.visible-items {
			position: absolute;
		}
	}
	a {
		font-size: 20px;
		color:black;
	}
	ul {
		display:flex;
		list-style-type: none;
		z-index:2;
		.hidden-items {
			display:none;
		}
		.visible-items{
			display: inherit !important;
			position:absolute;
			// left:0;
			// width: 100vw;
		}
		li {
			a {
				&:hover {
					// text-decoration: underline;
					// text-decoration-color: #b9a368;
					border-bottom:3px solid #b9a368;
					text-decoration: none;
				}
			}
			&:nth-child(2){
				ul {
					flex-direction:column;
					padding:0;
				}
			}
			&:nth-child(5){
				ul {
					flex-direction:column;
					padding:0;
				}
			}
		}
	}
}
#navigation-addon {
	&.portfolio-menu{
		a {
			color:black;
		}
	}
	ul {
		justify-content: flex-end;
	}
	a {
		color:white;
	}
	img {
		position: relative;
		bottom: 1px;
	}
}
#navigation {
	img {
		position: relative;
		bottom: 1px;
	}
	ul {
		justify-content: space-around;	
		&.visible-items {
			background-color: white;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
	.row {
		flex-wrap:inherit;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
	#navigation {
		position: absolute;
		top:425px;
		&.navigation-portfolio {
			.visible-items {
					display:none !important;
				}	
		}
		ul {
			flex-direction:column;
			.visible-items {
				position: relative;
			}
		}
		img {
			width:6px;
			bottom:2px;
		}
	}
	#navigation-addon {
		&.portfolio-menu{
			a {
				color:black;
			}
			ul {
				justify-content: center;
			}
		}
	}
}
