#navigation,#navigation-addon {
	font-family: 'FuturaPT-Medium';
	margin-top: 25px;
	a {
		font-size: 20px;
		color:black;
	}
	ul {
		display:flex;
		text-decoration: none;
		list-style-type: none;
		z-index:2;
		.hidden-items {
			display:none;
		}
		.visible-items{
			display: inherit !important;
			position: absolute;
		}
		li {
			a {
				text-decoration: none;
			}
			&:nth-child(2){
				ul {
					flex-direction:column;
					padding:0;
				}
			}
			&:nth-child(5){
				ul {
					flex-direction:column;
					padding:0;
				}
			}
		}
	}
}
#navigation-addon {
	ul {
		justify-content: flex-end;
	}
	a {
		color:white;
	}
}
#navigation {
	ul {
		justify-content:space-between;	
	}

}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
		.row {
		flex-wrap:inherit;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}